In [1]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv("~/Desktop/python-codes/data/movies_metadata.csv", encoding = 'latin-1')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 24 columns):
adult                    50 non-null bool
belongs_to_collection    10 non-null object
budget                   50 non-null int64
genres                   50 non-null object
homepage                 5 non-null object
id                       50 non-null int64
imdb_id                  50 non-null object
original_language        50 non-null object
original_title           50 non-null object
overview                 49 non-null object
popularity               50 non-null float64
poster_path              50 non-null object
production_companies     50 non-null object
production_countries     50 non-null object
release_date             50 non-null object
revenue                  50 non-null int64
runtime                  50 non-null int64
spoken_languages         50 non-null object
status                   50 non-null object
tagline                  41 non-null object
title                    50 non-null object
video                    50 non-null bool
vote_average             50 non-null float64
vote_count               50 non-null int64
dtypes: bool(2), float64(2), int64(5), object(15)
memory usage: 8.8+ KB

In [10]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/95,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/95,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/95,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/95,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/95,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [11]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [14]:
data.iloc[2]

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                      12/22/95
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: 2, dtype: object

In [15]:
data.shape

(50, 24)

In [16]:
data[['genres', 'title']]

,genres,title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale
4,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II
5,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Heat
6,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",Sabrina
7,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Tom and Huck
8,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Sudden Death
9,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",GoldenEye
10,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",The American President
11,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",Dracula: Dead and Loving It
12,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",Balto
13,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",Nixon
14,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Cutthroat Island
15,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",Casino
16,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Sense and Sensibility
17,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",Four Rooms
18,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",Ace Ventura: When Nature Calls
19,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",Money Train
20,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",Get Shorty
21,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",Copycat
22,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Assassins
23,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",Powder
24,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Leaving Las Vegas
25,"[{'id': 18, 'name': 'Drama'}]",Othello
26,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Now and Then
27,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Persuasion
28,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",The City of Lost Children
29,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",Shanghai Triad
30,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",Dangerous Minds
31,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",Twelve Monkeys
32,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",Wings of Courage
33,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",Babe
34,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",Carrington
35,"[{'id': 18, 'name': 'Drama'}]",Dead Man Walking
36,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",Across the Sea of Time
37,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",It Takes Two
38,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Clueless
39,"[{'id': 18, 'name': 'Drama'}]","Cry, the Beloved Country"
40,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",Richard III
41,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",Dead Presidents
42,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",Restoration
43,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",Mortal Kombat
44,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",To Die For
45,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",How To Make An American Quilt
46,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",Se7en
47,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",Pocahontas
48,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",When Night Is Falling
49,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",The Usual Suspects

In [17]:
data[data['title']=='Grumpier Old Men']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/95,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92

In [18]:
data.iloc[4]

adult                                                                False
belongs_to_collection    {'id': 96871, 'name': 'Father of the Bride Col...
budget                                                                   0
genres                                      [{'id': 35, 'name': 'Comedy'}]
homepage                                                               NaN
id                                                                   11862
imdb_id                                                          tt0113041
original_language                                                       en
original_title                                 Father of the Bride Part II
overview                 Just when George Banks has recovered from his ...
popularity                                                         8.38752
poster_path                               /e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies     [{'name': 'Sandollar Productions', 'id': 5842}...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                       2/10/95
revenue                                                           76578911
runtime                                                                106
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Just When His World Is Back To Normal... He's ...
title                                          Father of the Bride Part II
video                                                                False
vote_average                                                           5.7
vote_count                                                             173
Name: 4, dtype: object

In [20]:
data.sort_values(['release_date']).head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,10/20/95,0,51,"[{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,10/20/95,27400000,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,10/20/95,115101622,105,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but itÂ’s nothing like show b...",Get Shorty,False,6.4,305
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,10/27/95,49800000,112,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,10/27/95,0,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143

In [21]:
max(data.runtime)

192

In [22]:
min(data.runtime)

50

In [23]:
data.vote_count.quantile(0.70)

402.6999999999999

In [28]:
data[(data['runtime'] > 30) & (data['runtime'] < 360)]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/95,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/95,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/95,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/95,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/95,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,12/15/95,187436818,170,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,12/15/95,0,127,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,12/22/95,0,97,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,12/22/95,64350171,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,11/16/95,352194034,130,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,11/17/95,107879496,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,12/22/95,0,88,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,12/22/95,11348324,78,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,12/22/95,13681765,192,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,12/22/95,10017322,119,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise Â– Las Vegas ...,...,11/22/95,116112375,178,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,12/13/95,135000000,136,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,12/9/95,4300000,98,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,11/10/95,212385533,90,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,11/21/95,35431113,103,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,10/20/95,115101622,105,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but itÂ’s nothing like show b...",Get Shorty,False,6.4,305
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,10/27/95,0,124,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,10/6/95,30303072,132,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,10/27/95,0,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,10/27/95,49800000,112,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,12/15/95,0,123,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,10/20/95,27400000,100,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,9/27/95,0,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La CitÃ© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,5/16/95,1738611,108,"[{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,???,A provincial boy related to a Shanghai crime f...,...,4/30/95,0,108,"[{'iso_639_1': 'zh', 'name': '???'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17
30,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,...,8/11/95,180000000,99,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,False,6.4,249
31,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,12/29/95,168840000,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,9/18/96,0,50,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4
33,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,7/18/95,254134910,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756
34,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,11/8/95,0,121,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,False,6.4,16
35,False,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,12/29/95,39363635,122,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,False,7.3,350
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,10/20/95,0,51,"[{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2
37,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,...,11/17/95,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,False,6.1,149
38,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,7/19/95,0,97,"[{'iso_639_1': 'es', 'name': 'EspaÃ±ol'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,False,6.9,828
39,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,...,12/15/95,676525,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, the Beloved Country",False,6.7,13
40,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,12/29/95,0,104,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,False,6.9,50
41,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,10/6/95,0,119,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80
42,False,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,12/29/95,0,117,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,False,6.3,30
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,8/18/95,122195920,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452
44,False,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,5/20/95,21284514,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177
45,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,10/6/95,23574130,116,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,False,6.5,38
46,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,9/22/95,327311859,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,...,6/14/95,346079773,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,False,6.7,1509
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,5/5/95,0,96,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,False,5.9,10
49,False,NaN,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",...,7/19/95,23341568,106,"[{'iso_639_1': 'es', 'name': 'EspaÃ±ol'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,False,8.1,3334